@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&family=Nunito&display=swap");

:root {
  --e-color: #82C7AC;
  --v-color: #226f1f;
  --r-color: #d62a2a;
  --b-color: #29bbff;
  --l-color: #a954dd;
}

body{
  margin: 0px;
  padding: 0px;
  font-family: nunito, sans-serif;
  background-color: rgb(239, 252, 212);
}

.sfondo-1{
  background-image: url("../../public/media/3a93c940-b3ce-4fdd-a5bb-6a2406a8d14b.png");
  background-position: cover;
  background-size: contain;
  background-repeat: no-repeat;
}

#notification{
    color: white;
    background-color: red;
    border-radius: 50%;
    font-size: 13px;
    width: 18px;
    height: 18px;
    text-align: center;
}

.bg-custom1{
  background-color: var(--e-color);
}





/* BTN */


.btn-outline-custom {
  --bs-btn-color: var(--e-color);
  --bs-btn-border-color: var(--e-color);
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: var(--e-color);
  --bs-btn-hover-border-color: var(--e-color);
  --bs-btn-focus-shadow-rgb: 13, 202, 240;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: var(--e-color);
  --bs-btn-active-border-color: var(--e-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--e-color);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--e-color);
  --bs-gradient: none;
}
.btn-outline-custom1 {
  --bs-btn-color: white;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: white;
  --bs-btn-hover-border-color: white;
  --bs-btn-focus-shadow-rgb: 13, 202, 240;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: white;
  --bs-btn-active-border-color: white;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: white;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: white;
  --bs-gradient: none;
}

.btn-outline-custom2 {
  --bs-btn-color: #fff;
  --bs-btn-border-color: #6c757d;
  --bs-btn-hover-color: #6c757d;
  --bs-btn-bg: #6c757d;
  --bs-btn-hover-border-color: #6c757d;
  --bs-btn-focus-shadow-rgb: 108, 117, 125;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #6c757d;
  --bs-btn-active-border-color: #6c757d;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #6c757d;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #6c757d;
  --bs-gradient: none;
}
.btn-outline-refuse {
  --bs-btn-color: #fff;
  --bs-btn-border-color: red;
  --bs-btn-hover-color: red;
  --bs-btn-bg: red;
  --bs-btn-hover-border-color: red;
  --bs-btn-focus-shadow-rgb: 108, 117, 125;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: red;
  --bs-btn-active-border-color: red;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: red;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: red;
  --bs-gradient: none;
}
.btn-outline-accept {
  --bs-btn-color: #fff;
  --bs-btn-border-color: green;
  --bs-btn-hover-color: green;
  --bs-btn-bg: green;
  --bs-btn-hover-border-color: green;
  --bs-btn-focus-shadow-rgb: 108, 117, 125;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: green;
  --bs-btn-active-border-color: green;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: green;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: green;
  --bs-gradient: none;
}
/* BTN CATEGORIE */


/* CARD ANNUNCI */

.card-title{
  font-size: 20px;
}

.card-price{
  font-style: italic;
  font-size: 17px;
}



